a{
	color:#005878;
}
h1{
	color:#005878;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans 	Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 480%;
	text-align:center;
}
h3{
	text-align:center;
}
img {
	display: block;
	padding: 16px;
    	width: 48%;
    	height: auto;
	margin-left: auto;
    	margin-right: auto;
}
.icon {
  padding: 16px;
  margin-left: 8px;
  margin-right: 8px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  background: #005878;
  color: white;
}

.icon:hover {
    opacity: 0.7;
}

